<a href="https://colab.research.google.com/github/ToyinKezia/myworkspeaksforitself/blob/main/Datacleaning_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv('Real Data_For_Thesis.csv')
GHGdata = df.drop(columns=df.iloc[:, 5:])
GHGdata.dropna()

            Country  year life_expect trade         GHG
0         Australia  1990          77  32.2   425624.31
1         Australia  1991          77  32.2   425686.45
2         Australia  1992          77    33   429473.09
3         Australia  1993          78  35.4   430381.73
4         Australia  1994          78  36.5   430848.50
...             ...   ...         ...   ...         ...
1210  United States  2016          79  26.6  6537871.03
1211  United States  2017          79  27.3  6500975.39
1212  United States  2018          79  27.6  6687512.57
1213  United States  2019          79  26.5  6571725.75
1214  United States  2020          77  23.4  5981354.37

[1169 rows x 5 columns]